*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.head{
    height: auto; width: 100%;
    background-image: url(image/eco1.png);
    background-size: cover;
    background-attachment: relative;
}
.header{
    width: 50%;
    float: left;
    height: 100px;
    padding: 25px;
    color: white; background-color: forestgreen;
}
.side-header{
    width: 50%;
    float: right;
    height: 100px;
    padding-top: 50px; background-color: forestgreen;
  }
  .side-header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .side-header ul li a{
      color: white;
      font-size: 3vw;
    }
.leftside{
    width: 80%;
    height: 700px;
    padding: 150px 90px;
}
.a{height: auto;}
.a h2{text-align: center; font-size: 40px;}
.a b{font-size: 20px;}
.main{
    width: 90%;
    margin: 20px auto;
    border: none;
    display: grid;
    grid-template-rows: 290px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}
.main i{font-size: 55px;}
.d1{background-color: limegreen;text-align: center;font-size: 20px; padding-top: 40px;}
.d2{background-color: limegreen;text-align: center;font-size: 20px; padding: 10px;}
.d3{background-color: limegreen;text-align: center;font-size: 20px; padding: 10px;}
.d4{background-color: limegreen;text-align: center;font-size: 20px; padding: 10px;}
.c{
    background-color: lightgrey;text-align: center; font-size: 30px; height: 400px; padding-top: 130px;
}
.j{
     padding: 70px; border: groove ;
     text-align: center; font-family: cursive; 
     height: 300px; font-size: 27px;
    background-image: url(image/member.jpg); background-size: cover; 
}
.e{padding-top: 100px; text-align: center;}
.e p{font-size: 25px;}
.d{ height: 530px; font-size: 25px;}
.icon{ height: 150px; padding: 40px;
     font-size: 40px; display: flex; justify-content: space-around;
    }
